# Backend
BACKEND_PORT=8080

# Frontend
FRONTEND_PORT=4200

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=municipal_transport
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# API
API_URL=http://localhost:8081/api
